header{
	background-color: gray;
}

a{
	color: white;
}

li{
	display: inline-block;
	margin-left: 40px;
}

nav{
	display: inline-block;
	vertical-align: middle;
}

img{
	vertical-align: middle;
}

.container{
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}

section{
	margin-top: 80px;
	padding: 40px 0;
	height: 2000px;
}

.parent{
	width: 300px;
	height: 300px;
	background-color: coral;
	position: relative;
	z-index: 2;
}

.child{
	width: 100px;
	height: 100px;
	position: absolute;
}

/*.child-1{
	background-color: blue;
}*/

/*.child-2{
	background-color: darkred;
}*/

.child-3{
	background-color: yellow;
	top: 50px;
	left: 100px;
	z-index: 3;
}